:root {
    --preto: #222224;
    --vermelho: #ee1515;
    --cinza: #f0f0f0;
    --cor-fonte-primaria: #000000;
    --cor-fonte-secundaria: #FFCB05;
    --cor-fonte-terciaria: #1D2C5E;
    --fonte-principal: "Work Sans", sans-serif;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--preto);
}

.cabecalho {
    background-color: var(--cinza);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px 0px;
}

.titulo {
    display: flex;
}

.principal {
    color: var(--cor-fonte-terciaria);
    display: flex;
    justify-content: space-around;
    margin: 24px 0px;
    padding: 2% 0%;
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px;
    background-color: var(--cinza);
    border-radius: 12px;
    font-family: var(--fonte-principal);
    font-weight: 800;
    font-size: 24px;
    align-items: center;

}


.rodape {
    background-color: var(--vermelho);
    padding: 12px;
    color: var(--cinza);
    font-family: var(--fonte-principal);
    font-weight: 500;
    
}